@using KlamthIrrigationDistrict.DataLayer.DataModels
@model List<CustomerRequest>
<div>
@Html.ActionLink("Add","AddRequest")
    </div>
<table class="CustomerRequest">
    <thead>
    <tr class="CR">
        <th>CustomerID:</th>
        <th>CustomerName:</th>
        <th>Water Amount:</th>
        <th>Water On Date:</th>
        <th>Water Off Date:</th>
        <th>Comments:</th>
        <th>Ditch RiderID:</th>
        <th>Water On:</th>
        <th>Water Off:</th>
    </tr>
    </thead>
<tbody>
    @foreach (var request in Model)
    {
        <tr class="CR">
            <td>@request.CustomerID</td>
            <td>@request.CustomerFirstName @request.CustomerLastName</td>
            <td>@request.WaterAmount</td>
            <td>@request.WaterOnDate</td>
            <td>@request.WaterOffDate</td>
            <td>@request.Comments</td>
            <td>@request.DitchRiderID</td>
            <td>@request.WaterOn</td>
            <td>@request.WaterOff</td>
        </tr>
    }
</tbody>
</table>
@Html.Partial("_RequestList")