@using KlamthIrrigationDistrict.DataLayer.DataModels
@model CustomerHistory

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.CustomerHistoryID)
    <div>
        @Html.LabelFor(m =>m.CustomerID)
        @Html.DisplayFor(m =>m.CustomerID)
    </div>
    <div>
        @Html.LabelFor(m => m.Date)
        @Html.DisplayFor(m =>m.Date)
    </div>
    <div>
        @Html.LabelFor(m => m.WaterUsage)
        @Html.DisplayFor(m =>m.WaterUsage)
    </div>
}